<%=form_tag "/answer_friend/friend_res", method: "post" do%>
  <% current_user.facebook.get_connections("me", "friends").each do |a| %>
    <input type="hidden" name="friend_id" value="<%=a["id"]%>">
    <p>   <button class="btn btn-defalut" href="#"><%= a["name"]%></button></p>
  <% end %>
<% end %>